body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}
a {
  text-decoration: none;
  color: inherit;
}
#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

/* styling for the navbar */

.navDisplay {
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  justify-content: space-between;
}
.navListDisplay {
  display: flex;
  margin-left: auto;
}
.navListDisplay ul {
  list-style: none;
  display: flex;
  margin: 0px 0px;
  gap: 20px;
  justify-content: space-between;
}
.navbaritem {
  font-weight: 500;
}

.logo {
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
.logo h4 {
  margin: 0;
}
.Finder {
  color: blue;
}

/* css for user card */
.userCard {
  background-color: #dde6f6;
  border-radius: 30px;
  padding: 15px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  gap: 60px;
}
.repositoryCard {
  display: flex;
  flex-direction: column;
  background-color: #dde6f6;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: inset 8px 8px 24px -23px rgba(66, 68, 90, 1);
}
.description {
  text-align: center;
  word-wrap: break-word;      /* Allows long words to be broken */
  overflow-wrap: break-word;  /* Modern browsers */
  white-space: normal; 
}
.modernui {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* padding: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.upScroll {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 24px -16px rgba(66, 68, 90, 1);
  right: 10px;
  bottom: 40px;
  background-color: #7aa5fa;
}
.iconsPaddingLeft {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* css for search button */
.searchInput {
  background-color: #dde6f6;
  max-width: 250px;
  height: 51px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding-left: 10px;
  color: black;
  outline: none;
}
.searchButton {
  color: white;
  background-color: blue;
  padding: 18px 20px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-weight: 500;
}
.search {
  margin-bottom: 1.5rem;
}

.homeUserButton {
  background: linear-gradient(to right, blue, #7aa5fa, blue);
  border-radius: 10px;
  color: white;
  padding: 18px 24px;
  border: solid blue 2px;
  font-weight: 500;
  cursor: pointer;
}

.homeRepositoryButton {
  border-radius: 10px;
  border: solid #7aa5fa 2px;
  color: black;
  padding: 18px 24px;
  background-color: white;
  font-weight: 500;
  cursor: pointer;
}

.homeMain {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.welcomeMessage {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.welcomeMessage h1 {
  margin: 0px;
}
.homeLogo {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  width: 250px;
}
.mainButtons {
  display: flex;
  gap: 20px;
}

.parentContainer {
  padding-left: 10px;
  padding-right: 10px;
}
.footer {
  text-align: center;
  margin-top: auto;
}

.clearButton {
  display: block;
  position: relative;
  background-color: rgb(245, 51, 51);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  margin-left: auto;
  cursor: pointer;
  margin-bottom: 10px;
}
.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.userDetails {
  margin-left: 10px;
  text-align: left;
}
.userLogin {
  margin: 5px 0px;
  text-transform: capitalize;
}
.userUrl {
  margin: 0px;
  text-decoration: none;
  color: gray;
}

.repositoryPageTitle {
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.repoUrl {
  display: block;
  margin: auto;
  text-decoration: none;
  color: gray;
}
/* Todo:write css for user grid display */
.userGridDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.repoGridDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.repoCardIcons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

@media screen and (max-width: 900px) {
  .userGridDisplay {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .repoGridDisplay {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .navListDisplay ul {
    list-style: none;
    display: flex;
    margin: auto;
  }
  .navbaritem {
    margin-left: 15px;
  }
  .logo {
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-weight: bold;
    margin-left: 0px;
    cursor: pointer;
    display: flex;
  }
  .welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .search form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .searchInput {
    width: 100%;
    border-radius: 10px 10px;
    max-width: 100%;
  }
  .searchButton {
    max-width: 100%;
    width: 100%;
    border-radius: 10px 10px;
  }
}
