body {
  margin: 6px 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  
}
/* #root{
  display: flex;
  flex-direction: column;
} */

/* styling for the navbar */

.navDisplay{
  display: flex;
  margin-bottom: 10px;
}
.navListDisplay {
  display: flex;
  margin-left: auto;
 
}

.navListDisplay ul{
  list-style: none;
  display: flex;
  margin: 0px 80px;
}

.navbaritem{
  margin-left: 60px; 
  
}
/* .navbaritemSelected{
  background-color: #7AA5FA;
  padding: 5px;
  color:white;
  border-radius: 5px;
} */



.logo{
  font-weight: bold;
  margin-left: 50px;
  cursor: pointer;
  display: flex;
}
.logo h4{
  margin:0;
}
.Finder{
  color:blue;
}

/* css for user card */
.userCard{
  background-color: #DDE6F6;
  border-radius: 30px;
  /* margin-right: 200px; */
  padding:15px;
  display:flex;
  margin-bottom: 5px;
  align-items: center;
  gap: 60px;
  

}
.repositoryCard{
  background-color: #DDE6F6;
  padding: 5px;
  margin: 2px 0px;
  
}
.description{
  text-align: center;
  
}

/* css for search button */
.searchInput{
  background-color:#7AA5FA ;
  max-width: 250px;
  height: 51px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  padding-left: 10px;
  color: white;
}
.searchButton{
  color: white;
  background-color: blue;
  padding: 18px 20px;
  border: none;
  border-radius: 0px 10px 10px 0px;

}
.search{
  margin-bottom: 5px;
}

.homeUserButton{
  background-color: blue;
  border-radius: 30px;
  color: white;
  padding: 5px 10px;
  margin-right: 70px;
  border:solid blue 1px ;
}

.homeRepositoryButton{
  border-radius: 30px;
  border: solid #7AA5FA 1px ;
  color: black;
  padding: 5px 10px;
  margin-left: 70px;
  background-color: white;
  

}

.homeMain{
  display: flex;
  flex-direction: column;
  place-items: center;

}



.welcomeMessage{
  display: flex;
}

.parentContainer{
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}
.footer{
  text-align: center;
  margin-top: auto;
}

.clearButton{
  background-color: white;
  border: none;
  cursor: pointer;
}
.profileImage{
  width:50px ;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.userDetails{
  margin-left: 10px;
  text-align: center;
}
.userLogin{
  margin: 0px;

}
.userUrl{
  margin: 0px;

}

/* Todo:write css for user grid display */
.userGridDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */

}

@media screen and (max-width:900px){
  .search form{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  .searchInput{
    background-color:#7AA5FA ;
    max-width: 250px;
    height: 35px;
    border-radius: 10px 10px;
    border: none;
    padding-left: 10px;
    color: white;
    margin-bottom: 5px;
  }
  .searchButton{
    color: white;
    background-color: blue;
    padding: 10px 12px;
    border: none;
    border-radius: 10px 10px;
    max-width: 170px;
    
  
  }
  .navListDisplay ul{
    list-style: none;
    display: flex;
    margin:auto;
  }
  .navbaritem{
    margin-left: 15px; 
    
  }
  .logo{
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
  }
  .homeUserButton{
    background-color: blue;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border:solid blue 1px ;
  }
  
  .homeRepositoryButton{
    border-radius: 30px;
    border: solid #7AA5FA 1px ;
    color: black;
    padding: 5px 10px;
    margin-left: 30px;
    background-color: white;
    
  
  }
   
}

@media screen and (max-width:285px){
  .logo{
    font-weight: bold;
    margin-left: 0px;
    cursor: pointer;
    display: flex;
  }
  .homeUserButton{
    background-color: blue;
    border-radius: 30px;
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    border:solid blue 1px ;
  }
  
  .homeRepositoryButton{
    border-radius: 30px;
    border: solid #7AA5FA 1px ;
    color: black;
    padding: 5px 10px;
    background-color: white;
  }
  .mainButtons{
    display: flex;
    flex-direction: column;
    place-items: center;
  }

}